#box{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
}
#btn{
    background-color: #000;
    color: aliceblue;
    font-size: large;
}
#future{
    display: block;
    color: aqua;
    
}